body {
    padding: 0;
    margin: 0;
}


path[stroke-opacity='1'] {stroke-dashoffset: 10000; stroke-dasharray:10000; -webkit-transition:stroke-dashoffset 6s}

html, body, #map {
    height: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.paneltxt {
    font-style: italic;
    color: #AAA;
}

.layers-pane{
    margin: 10px;
}

/*custom layers fa icon*/
.fa-layers {
    transform:rotate(50deg) skewX(24deg) skewY(12deg);  
    -webkit-transform:rotate(50deg) skewX(24deg) skewY(12deg);  
    -ms-transform:rotate(50deg) skewX(24deg) skewY(12deg);  
}

/*slider css*/
.slider{
    margin: 10px;
}
.ui-slider-horizontal {
    height: 8px;
    width: 100px;
}
.ui-slider .ui-slider-handle {
    height: 15px;
    width: 5px;
    padding-left: 5px;
}

/*geocoder*/

.geocoder{
    margin-top: 15px;
    width: 75%;
}

.leaflet-bar{
    box-shadow: 0 1px 4px rgba(0,0,0,0.35) !important;
}

/*pid search*/

.pidform{
    top: 150px;
    margin-top: 15px;
    width: 30%;
    
}

#pidsearch-label {
    position: relative;
    box-shadow: 0 1px 4px rgba(0,0,0,0.35) !important;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: none;
    display: inline-block;
}

#pidsearch-label .fa-search {
    color: #666;
    top: 2px;
    left: 5px;
    position: absolute;
}

#pidsearch {
    padding-left: 20px;

}

/*dropdown*/

.ui-widget{
   font-size: 12px;
}

.ui-front{
    z-index: 2001;   
}

fieldset {
    border: 0;
    z-index: 2001;
}
#radLabel {
    display: block;
    margin: 25px 0 2px 0;
    padding-left: 12px;
}
select {
    width: 85px;
    z-index: 2001;
    
}
